
.navbar{
    display:flex;
    background-image:url('../../assets/backgroundImg.jpg');
    height: 24vh;
    width: 90vw;
    border-radius:10px;
    align-items:center;
    justify-content:center;
}
.navbar-input{
    input{
        height:8vh;
        width:70vw;
        border:1px solid #ccc;
        &:focus{
            outline:none;
            border:1px solid #ccc;
        }
    }
}

